.EventContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.EventContainer h1 {
    font-size: 50px;
    margin-top: 30px;
}

.event {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    height: 100%;
}

.img-cont {
    position: relative;

    height: 400px;

    cursor: pointer;
}

.img-cont-img {
    transition: 500ms;
}

.img-bg {
    width: 620px;
    height: 357px;

    position: absolute;

    top: 10px;
    left: 5px;

    border-radius: 20px;

    background-color: #d4d4d48a;

    transition: 500ms;
}

.img-cont:hover .img-bg {
    top: 15px;
    left: 10px;
}

.img-cont:hover .img-cont-img {
    top: -3px;
    left: -3px;
}

.event img {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 5;
}

.event-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: -20px;
    /* margin-left: 50px; */
    width: 600px;
}

.event-data h1 {
    font-size: 40px;
}

.event-data p {
    font-size: 20px;
}

.event-data p a {
    color: black;
}

@media screen and (max-width: 1600px) {
    .event {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .EventContainer {
        margin-bottom: 0px;
        margin-top: 500px;
        position: relative;
    }

    .EventContainer h1 {
        font-size: 30px;
    }
    
    .event {
        flex-direction: column;
    }

    .img-bg {
        display: none;
    }

    .img-cont {
        width: 100%;
        height: 185px;
    }

    .img-cont-img {
        width: 100%;
    }

    .event-data p {
        font-size: 10px;
    }
}